@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";


body {
  background-image: url("/Creative-Agency-small.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@theme {
  --font-display: "Quicksand", sans-serif;
}